.header {
  width: 100%;
  height: 161px;
  left: 0px;
  top: 0px;
  background-color: #3a41df;
}
.sideBar {
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  background: fill;
  background-size: 100% 100%;
}
.statusBox {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #262ffc;
  width: 154px;
  height: 96px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #00022b;
}
